.imaWidgetBody {
  position: fixed;
  z-index: 9997 !important;
}

.skaleLogoSm {
  width: 18pt;
}

.mp__popupWrapper,
.mp__fullsreenWrapper {
  // margin: 20pt;

  p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 0;
  }

  .mp__p__marg {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }

  button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
  }

  :global(.MuiPaper-root) {
    background-image: none;
  }
}

.mp__popup {
  padding: 17pt;
  max-height: calc(100vh - 110pt);

  :global(.MuiButton-root) {
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 8px !important;
  }
}

.mp__paper {
  border-radius: 20px !important;
  border: 1px #7f7f7f45 solid;
}

.mp__flex {
  display: flex;
  vertical-align: middle;
}

.fl-right {
  justify-content: end;
}

.mp__flexCentered {
  align-items: center;
  justify-content: center;
}

.mp__flexCenteredVert {
  align-items: center;
}

.mp__flexGrow {
  flex-grow: 1;
}

.mp__margTop10 {
  margin-top: 10px !important;
}

.mp__margTop20 {
  margin-top: 20px !important;
}

.mp__margLeft10 {
  margin-left: 10px !important;
}

.mp__margLeft20 {
  margin-left: 20px !important;
}

.mp__margRi20 {
  margin-right: 20px !important;
}

.mp__margRi10 {
  margin-right: 10px !important;
}

.mp__margRi5 {
  margin-right: 5px !important;
}


.marg-top-20 {
  margin-top: 20px !important;
}

.mp__margTop20Pt {
  margin-top: 20pt !important;
}

.marg-top-30 {
  margin-top: 30px !important;
}

.mp__margBott20 {
  margin-bottom: 20px !important;
}

.mp__margBott10 {
  margin-bottom: 10px !important;
}

.marg-bott-40 {
  margin-bottom: 40px !important;
}

.mp__margBott5 {
  margin-bottom: 5px !important;
}

.mp__margTop5 {
  margin-top: 5px !important;
}


.mp__noMargTop {
  margin-top: 0 !important;
}


.mp__noMargBott {
  margin-bottom: 0 !important;
}

.mp__noMarg {
  margin: 0 !important;
}

.mp__paddTop10 {
  padding-top: 10px !important;
}

.mp__chainName {
  font-weight: bold;
  padding-left: 10pt;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}


.mp__chainsList {
  overflow: auto;
  max-height: 45vh;
}

.mp__btnChain {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.6525rem;
  line-height: 1.6;
  letter-spacing: 0.02857em;
}

.mp__btnAction {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.7525rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.02857em !important;
  font-weight: 600 !important;
  padding-top: 0.8em !important;
  padding-bottom: 0.8em !important;
}


.mp__popup {
  :global .MuiAccordionSummary-content {
    margin: 0 !important;
  }

  :global .MuiAccordion-root {
    border-radius: 10px !important;
    background-color: rgb(161 161 161 / 20%) !important;

    .Mui-disabled {
      .MuiAccordionSummary-expandIconWrapper {
        display: none !important;
      }

      opacity: 1 !important;
      border-radius: 4px !important;
    }
  }
}

.mp__btnSwitch {
  width: 100%;
  text-align: center;
  margin-top: -4pt;
  margin-bottom: -22pt;

  button {
    border: 10px #1a1a1a solid;
    // background-color: #d9e021 !important;
    z-index: 9997;
  }

  :global(svg) {
    width: 14pt;
    height: 14pt;
  }
}


.darkTheme {
  .mp__chainName {
    color: white !important;
  }

  .eth-logo {
    filter: invert(1) contrast(1.5);
  }

  .skaleLogoSm {
    filter: invert(1);
  }

  .mp__p,
  .mp__infoIcon,
  .mp__backIcon {
    color: rgb(255 255 255 / 65%) !important;
  }

  .mp__textGray,
  .mp__iconGray {
    color: #bdbdbd;
  }

  :global(.MuiStepIcon-root.Mui-active,
    .MuiStepIcon-root.Mui-completed) {
    color: #ffffff !important;
  }

  :global .MuiIconButton-root {
    svg {
      color: #000000;
    }
  }

  :global(.MuiIconButton-root.Mui-disabled) {
    svg {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .mp__btnSwitch {
    :global(.Mui-disabled) {
      background-color: rgba(161, 161, 161, 0.2) !important;
    }
  }
}


.lightTheme {
  .mp__chainName {
    color: black !important;
  }

  .mp__p,
  .mp__infoIcon,
  .mp__backIcon {
    color: rgb(0 0 0 / 65%) !important;
  }

  .MuiInput-root {
    .Mui-disabled {
      color: rgb(0 0 0 / 60%);
    }
  }

  .mp__textGray,
  .mp__iconGray {
    color: #4f4f4f;
  }

  .MuiStepIcon-root.Mui-active,
  .MuiStepIcon-root.Mui-completed {
    color: rgba(0, 0, 0, 0.87) !important;
  }

  .MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
  }

  .mp__btnSwitch {
    :global(.Mui-disabled) {
      background-color: rgb(224 224 224) !important;
    }
  }

  :global(.MuiIconButton-root) {
    svg {
      color: #ffffff;
    }
  }

  :global(.MuiIconButton-root.Mui-disabled) {
    svg {
      color: rgba(0, 0, 0, 0.26);
    }
  }
}

.mp__p3 {
  margin: 0;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: 0.6525rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.02857em !important;
}

.mp__p2 {
  margin: 0;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: 0.8525rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.03857em !important;
}

.mp__errorMessage {
  color: #ff3737 !important;
}

.mp__btnConnect {
  width: 100%;
  margin-top: 10pt;
  border-radius: 8px !important;

  text-align: left;

  .mp__iconConnect {
    width: 20pt !important;
  }

  :global(.MuiPaper-root) {
    background-color: rgba(161, 161, 161, 0.2) !important;
    width: 100%;
    padding: 10pt 15pt;
    border-radius: 8px !important;
  }

  .mp__iconGray {
    width: 12pt;
  }
}

:global(.Mui-disabled) {
  .mp__iconConnect {
    filter: saturate(0) !important;
  }
}


.mp__textToken {
  padding-top: 25pt !important;
}

.btn-bg {
  background-color: #0d0d0d !important;
}

.hidden {
  opacity: 0;
}

.noDisplay {
  display: none !important;
}

.skaleBtnHidden {
  display: none !important;
}

.skaleBtn {
  z-index: 9997 !important;
  border: 1px #7f7f7f45 solid;
}

.mp__popper {
  z-index: 9997 !important;
  min-width: 290pt;
}


.mp__transferToFix {
  margin-top: 26pt !important;
}

.mp__textCentered {
  text-align: center;
}


.mp__infoIcon {
  svg {
    height: 25pt;
    width: 100%;
  }
}

.mp__minContent {
  width: min-content;
}

.tokenIdIcon {
  padding: 0 0 0 16px;

  :global(svg) {
    //width: 20px;
  }
}


.mp__amountErrorMessage {
  height: 15px !important;
  margin-bottom: -5px !important;

  :global(p) {
    font-size: 0.5525rem !important
  }
}

.mp__backIcon {
  width: 8pt !important;
  height: 8pt !important;
  margin-left: 2pt !important;
}