@import './variables';

.imaWidgetBody {
  position: fixed;
}

.skaleLogoSm {
  width: 18pt;
}

.mp__popupWrapper,
.mp__fullsreenWrapper {
  // margin: 20pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;

  p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 0;
  }

  .mp__p__marg {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }

  button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
  }

  :global(.MuiPaper-root) {
    background-image: none;
  }


  :global(.MuiSvgIcon-fontSizeSmall) {
    width: 10pt;
    height: 10pt;
  }
}

.mp__popup {
  padding: 15pt;
  max-height: calc(100vh - 110pt);

  :global(.MuiButton-root) {
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: $sk-border-radius !important;
  }
}

.mp__paper {
  border-radius: 20px !important;
  border: 1px #7f7f7f45 solid;
}

.mp__flex {
  display: flex;
  vertical-align: middle;
}

.fl-right {
  justify-content: end;
}

.mp__flexCentered {
  align-items: center;
  justify-content: center;
}

.mp__flexCenteredVert {
  align-items: center;
}

.mp__flexGrow {
  flex-grow: 1;
}

.mp_flexRow {
  flex-direction: row;
  flex-wrap: wrap;
}

.mp__margTop10 {
  margin-top: 10px !important;
}

.mp__margTop20 {
  margin-top: 20px !important;
}

.mp__margLeft5 {
  margin-left: 5px !important;
}

.mp__margLeft10 {
  margin-left: 10px !important;
}

.mp__margLeft20 {
  margin-left: 20px !important;
}

.mp__margRi20 {
  margin-right: 20px !important;
}

.mp__margRi10 {
  margin-right: 10px !important;
}

.mp__margRi5 {
  margin-right: 5px !important;
}

.mp__margBottMin10 {
  margin-bottom: -10px !important;
}

.mp__margBottMin15 {
  margin-bottom: -15px !important;
}

.marg-top-20 {
  margin-top: 20px !important;
}

.mp__margTop20Pt {
  margin-top: 20pt !important;
}

.marg-top-30 {
  margin-top: 30px !important;
}

.mp__margBott20 {
  margin-bottom: 20px !important;
}

.mp__margBott15 {
  margin-bottom: 15px !important;
}

.mp__margBott10 {
  margin-bottom: 10px !important;
}

.marg-bott-40 {
  margin-bottom: 40px !important;
}

.mp__margBott5 {
  margin-bottom: 5px !important;
}

.mp__margTop5 {
  margin-top: 5px !important;
}


.mp__noMargTop {
  margin-top: 0 !important;
}


.mp__noMargBott {
  margin-bottom: 0 !important;
}

.mp__noMarg {
  margin: 0 !important;
}

.mp__paddTop10 {
  padding-top: 10px !important;
}


.mp__capitalize {
  text-transform: capitalize;
}

.mp__chainName {
  font-weight: bold;
  padding-left: 10pt;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}


.mp__chainsList {
  overflow: auto;
  max-height: 45vh;
}

.mp__btnChain {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.6525rem !important;
  line-height: 1.6;
  letter-spacing: 0.02857em;
}

.mp__btnAction {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.7525rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.02857em !important;
  font-weight: 600 !important;
  padding-top: 0.8em !important;
  padding-bottom: 0.8em !important;
  min-height: $sk-btn-height !important;
}


.mp__popup {
  :global .MuiAccordionSummary-content {
    margin: 0 !important;
  }

  :global(.MuiAccordionSummary-root) {
    min-height: $sk-btn-height !important;
  }

  :global .MuiAccordion-root {
    border-radius: $sk-border-radius !important;
    background-color: $sk-paper-color !important;
    box-shadow: none !important;

    .Mui-disabled {
      .MuiAccordionSummary-expandIconWrapper {
        display: none !important;
      }

      opacity: 1 !important;
      border-radius: 4px !important;
    }
  }
}

.mp__btnSwitch {
  width: 100%;
  text-align: center;
  margin-top: -4pt;
  margin-bottom: -22pt;

  button {
    border: 10px #1a1a1a solid;
  }

  :global(svg) {
    width: 14pt;
    height: 14pt;
  }
}


.darkTheme {

  .br__action_deposit {
    background-image: linear-gradient(45deg, #8A463C 0%, #b02d50 100%);
  }

  .br__action_transferToSchain {
    background-image: linear-gradient(120deg, #9c27b0 0%, #3f51b5 100%)
  }

  .br__action_wrap {
    background-image: linear-gradient(160deg, #237bc3 0%, #1a3b94 100%);
  }

  .br__action_unwrap {
    background-image: linear-gradient(160deg, #1a3b94 0%, #237bc3 100%);
  }

  .br__action_withdraw {
    background-image: linear-gradient(45deg, #b02d50 0%, #8A463C 100%);
  }

  .br__action_getMyEth {
    background-image: linear-gradient(45deg, #009688 0%, #0c5f57 100%);
  }

  .br__action_approve {
    background-image: linear-gradient(135deg, #29b1a9 0%, #14532a 100%);
  }

  .br__action_approveWrap {
    background-image: linear-gradient(135deg, #14532a 0%, #29b1a9 100%);
  }

  .br__action_wallet {
    background-image: linear-gradient(135deg, #dedede 0%, #aeaeae 100%);
  }


  .mp__chainName {
    color: white !important;
  }

  .eth-logo {
    filter: invert(1) contrast(1.5);
  }

  .skaleLogoSm {
    filter: invert(1);
  }

  .mp__p,
  .mp__infoIcon,
  .mp__backIcon {
    color: rgb(255 255 255 / 65%) !important;
  }

  .sk__colorText {
    color: white !important;
  }

  .mp__textGray,
  .mp__iconGray {
    color: #bdbdbd;
  }

  :global(.MuiStepIcon-root.Mui-active,
    .MuiStepIcon-root.Mui-completed) {
    color: #ffffff !important;
  }

  :global .MuiIconButton-root {
    svg {
      color: #000000;
    }
  }

  :global(.MuiIconButton-root.Mui-disabled) {
    svg {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .mp__btnSwitch {
    :global(.Mui-disabled) {
      background-color: $sk-paper-color !important;
    }
  }

  .mp__routeIcon {
    svg {
      width: 14pt;
      color: rgba(255, 255, 255, 0.65) !important;
    }
  }

  .mp__routeSmall {
    h4 {
      color: rgba(255, 255, 255, 0.65) !important;
    }
  }
}


.lightTheme {

  .br__action_deposit {
    background-image: linear-gradient(45deg, #f7c9b1 0%, #f8d4da 100%);
  }

  .br__action_transferToSchain {
    background-image: linear-gradient(120deg, #e0baf0 0%, #c1ccf8 100%);
  }

  .br__action_wrap {
    background-image: linear-gradient(160deg, #9dcff1 0%, #8ab1dd 100%);
  }

  .br__action_unwrap {
    background-image: linear-gradient(160deg, #8ab1dd 0%, #9dcff1 100%);
  }

  .br__action_withdraw {
    background-image: linear-gradient(45deg, #f8d4da 0%, #f7c9b1 100%);
  }

  .br__action_getMyEth {
    background-image: linear-gradient(45deg, #92f7e1 0%, #76afaa 100%);
  }

  .br__action_approve {
    background-image: linear-gradient(135deg, #89e0ce 0%, #58a47c 100%);
  }

  .br__action_approveWrap {
    background-image: linear-gradient(135deg, #58a47c 0%, #89e0ce 100%);
  }

  .br__action_wallet {
    background-image: linear-gradient(135deg, #f5f5f5 0%, #dfdfdf 100%);
  }

  .mp__chainName {
    color: black !important;
  }

  .mp__p,
  .mp__infoIcon,
  .mp__backIcon {
    color: rgb(0 0 0 / 65%) !important;
  }

  .sk__colorText {
    color: black !important;
  }

  .MuiInput-root {
    .Mui-disabled {
      color: rgb(0 0 0 / 60%);
    }
  }

  .mp__textGray,
  .mp__iconGray {
    color: #4f4f4f;
  }

  .MuiStepIcon-root.Mui-active,
  .MuiStepIcon-root.Mui-completed {
    color: rgba(0, 0, 0, 0.87) !important;
  }

  .MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
  }

  .mp__btnSwitch {
    :global(.Mui-disabled) {
      background-color: rgb(224 224 224) !important;
    }
  }

  :global(.MuiIconButton-root) {
    svg {
      color: #ffffff;
    }
  }

  :global(.MuiIconButton-root.Mui-disabled) {
    svg {
      color: rgba(0, 0, 0, 0.26);
    }
  }

  .mp__routeIcon {
    svg {
      width: 14pt;
      color: rgba(0, 0, 0, 0.65) !important;
    }
  }

  .mp__routeSmall {
    h4 {
      color: rgba(0, 0, 0, 0.65) !important;
    }
  }
}

.mp__routeSmall {
  h4 {
    font-weight: 500 !important;
    text-transform: none !important;
    font-size: 0.8525rem !important;
    line-height: 1.6 !important;
    letter-spacing: 0.03857em !important;
  }
}

.mp__p3 {
  margin: 0;
  font-weight: 600 !important;
  // text-transform: uppercase !important;
  font-size: 0.6525rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.02857em !important;
}

.mp__p2 {
  margin: 0;
  font-weight: 600 !important;
  // text-transform: uppercase !important;
  font-size: 0.8525rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.03857em !important;
}

.mp__completeText {
  font-weight: 600 !important;
  text-transform: none !important;
  font-size: .8525rem !important;
  line-height: 1.6 !important;
  letter-spacing: .03857em !important;
  color: white !important;
}

.mp__code {
  font-size: 0.75rem;
}

.mp__codeWrap {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 20px;
  background-color: black;
}

.mp_p_desc {
  margin: 0;
  font-weight: 500 !important;
  text-transform: none !important;
  font-size: 0.8025rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.03857em !important;
}


.mp__btnConnect {
  width: 100%;
  margin-top: 10pt;
  border-radius: 15px !important;

  text-align: left;

  .mp__iconConnect {
    width: 20pt !important;
  }

  :global(.MuiPaper-root) {
    background-color: $sk-paper-color !important;
    width: 100%;
    padding: 10pt 15pt;
    border-radius: 15px !important;
  }

  .mp__iconGray {
    width: 12pt;
  }
}

:global(.Mui-disabled) {
  .mp__iconConnect {
    filter: saturate(0) !important;
  }
}


.mp__textToken {
  padding-top: 25pt !important;
}

.btn-bg {
  background-color: #0d0d0d !important;
}

.hidden {
  opacity: 0;
}

.noDisplay {
  display: none !important;
}

.skaleBtnHidden {
  display: none !important;
}

.skaleBtn {
  border: 1px #7f7f7f45 solid;
}

.mp__popper {
  width: 310pt;
}

.mp__transferToFix {
  margin-top: 26pt !important;
}

.mp__textCentered {
  text-align: center;
}


.mp__infoIcon {
  svg {
    height: 25pt;
    width: 100%;
  }
}

.mp__minContent {
  width: min-content;
}

.tokenIdIcon {
  padding: 0 0 0 16px;

  :global(svg) {
    //width: 20px;
  }
}

.mp__backIcon {
  width: 8pt !important;
  height: 8pt !important;
  // margin-left: 2pt !important;
}

.mp__amountChip {
  :global(.MuiChip-label) {
    text-transform: uppercase !important;
  }
}

.mp__amount {
  text-transform: uppercase !important;
}

.mp__amountIcon {
  width: 18pt;
}

.mp__chainIcon {
  img {
    width: 15pt !important;
    height: 15pt !important;
  }

  svg {
    width: 16pt !important;
    height: 16pt !important;
    color: white;
  }
}


.mp__summaryChip {
  :global(.MuiChip-icon) {
    width: 17pt;
    height: 17pt;
  }

  margin-left: 5px;

  span {
    font-size: 1.3em;
    font-weight: 600;
  }
}


.br__history {
  :global .MuiAccordion-root:before {
    opacity: 0;
  }
}

.sk__smBth {
  font-size: 0.7rem !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.sk__uppercasse {
  text-transform: uppercase !important;
}

.sk__skeleton{
  border-radius: $sk-border-radius !important;
}