$sk-border-radius-outter: 30px;
$sk-border-radius: 25px;

$sk-paper-color: RGB(136 135 135 / 15%);
$sk-gray-background-color: rgba(161, 161, 161, 0.2);


$sk-btn-height: 47px;

$sk-disabled-dark: rgba(255, 255, 255, 0.5);
$sk-disabled-light: rgba(0, 0, 0, 0.38);

$sk-secondary-dark: RGB(255 255 255 / 65%);
$sk-secondary-light: RGB(0 0 0 / 65%);