@import './variables';

.flex {
    display: flex;
    vertical-align: middle;
}

.flexRight {
    justify-content: end;
}

.flexc {
    align-items: center;
    justify-content: center;
}

.flexcv {
    align-items: center;
}

.flexg {
    flex-grow: 1;
}

.flexRow {
    flex-direction: row;
    flex-wrap: wrap;
}


.padd10 {
    padding: 10px !important;
}


.mtop10 {
    margin-top: 10px !important;
}

.mtop20 {
    margin-top: 20px !important;
}

.mleft5 {
    margin-left: 5px !important;
}

.mleft10 {
    margin-left: 10px !important;
}

.mleft20 {
    margin-left: 20px !important;
}

.mri20 {
    margin-right: 20px !important;
}

.mri10 {
    margin-right: 10px !important;
}

.mri5 {
    margin-right: 5px !important;
}

.margBottMin10 {
    margin-bottom: -10px !important;
}

.margBottMin15 {
    margin-bottom: -15px !important;
}

.mtop20Pt {
    margin-top: 20pt !important;
}

.mbott20 {
    margin-bottom: 20px !important;
}

.mbott10 {
    margin-bottom: 10px !important;
}

.mbott5 {
    margin-bottom: 5px !important;
}

.mtop5 {
    margin-top: 5px !important;
}

.nom {
    margin: 0 !important;
}

.ptop20 {
    padding-top: 20px !important;
}

.nop {
    padding: 0 !important;
}

.cap {
    text-transform: capitalize !important;
}

// fonts


.p {
    margin: 0;
    text-transform: none;
    line-height: 1.6 !important;
    font-weight: 500;
}

.p500 {
    font-weight: 500 !important;
}

.p600 {
    font-weight: 600 !important;
}

.p700 {
    font-weight: 700 !important;
}


.upp {
    text-transform: uppercase !important;
}

.p1 {
    font-size: 1.3rem !important;
    letter-spacing: 0.03857em !important;
}

.p2 {
    font-size: 0.9025rem !important;
    letter-spacing: 0.03857em !important;
}

.p3 {
    font-size: 0.8025rem !important;
    letter-spacing: 0.02857em !important;
}

.p4 {
    font-size: 0.7025rem !important;
    letter-spacing: 0.04857em !important;
}

.darkTheme {
    .pPrim {
        color: white !important;
    }

    .pSec {
        color: $sk-secondary-dark !important;
    }

    .pDisabled {
        color: $sk-disabled-dark !important;
    }
}

.lightTheme {
    .pPrim {
        color: black !important;
    }

    .pSec {
        color: $sk-secondary-light !important;
    }

    .pDisabled {
        color: $sk-disabled-light !important;
    }
}

.fullWidth {
    width: 100% !important;
}

.pCent {
    text-align: center;
}


:global([rk-chain-button]) {
    display: none !important;
}