@import './variables';

.flex {
    display: flex;
    vertical-align: middle;
}

.flexRight {
    justify-content: end;
}

.flexCentered {
    align-items: center;
    justify-content: center;
}

.flexCenteredVert {
    align-items: center;
}

.flexGrow {
    flex-grow: 1;
}

.flexRow {
    flex-direction: row;
    flex-wrap: wrap;
}

.marg10 {
    margin: 10px !important;
}

.padd10 {
    padding: 10px !important;
}


.margTop10 {
    margin-top: 10px !important;
}

.margTop20 {
    margin-top: 20px !important;
}

.margTop40 {
    margin-top: 40px !important;
}


.margLeft5 {
    margin-left: 5px !important;
}

.margLeft10 {
    margin-left: 10px !important;
}

.margLeft20 {
    margin-left: 20px !important;
}

.margRi20 {
    margin-right: 20px !important;
}

.margRi10 {
    margin-right: 10px !important;
}

.margRi5 {
    margin-right: 5px !important;
}

.margBottMin10 {
    margin-bottom: -10px !important;
}

.margBottMin15 {
    margin-bottom: -15px !important;
}

.marg-top-20 {
    margin-top: 20px !important;
}

.margTop20Pt {
    margin-top: 20pt !important;
}

.marg-top-30 {
    margin-top: 30px !important;
}

.margBott20 {
    margin-bottom: 20px !important;
}

.margBott40 {
    margin-bottom: 40px !important;
}

.margBott15 {
    margin-bottom: 15px !important;
}

.margBott10 {
    margin-bottom: 10px !important;
}

.marg-bott-40 {
    margin-bottom: 40px !important;
}

.margBott5 {
    margin-bottom: 5px !important;
}

.margTop5 {
    margin-top: 5px !important;
}

.noMargTop {
    margin-top: 0 !important;
}

.noMargBott {
    margin-bottom: 0 !important;
}

.noMarg {
    margin: 0 !important;
}

.paddTop10 {
    padding-top: 10px !important;
}

.paddBott10 {
    padding-bottom: 10px !important;
}

.noPadd {
    padding: 0 !important;
}

.capitalize {
    text-transform: capitalize !important;
}

// fonts


.p {
    margin: 0;
    text-transform: none;
    line-height: 1.6 !important;
    font-weight: 500;
}

.p500 {
    font-weight: 500 !important;
}

.p600 {
    font-weight: 600 !important;
}

.p700 {
    font-weight: 700 !important;
}


.uppercase {
    text-transform: uppercase !important;
}

.p1 {
    font-size: 1.3rem !important;
    letter-spacing: 0.03857em !important;
}

.p2 {
    font-size: 0.9025rem !important;
    letter-spacing: 0.03857em !important;
}

.p3 {
    font-size: 0.8025rem !important;
    letter-spacing: 0.02857em !important;
}

.p4 {
    font-size: 0.7025rem !important;
    letter-spacing: 0.04857em !important;
}

.darkTheme {
    .pMain {
        color: white !important;
    }

    .pSecondary {
        color: $sk-secondary-dark !important;
    }

    .pDisabled {
        color: $sk-disabled-dark !important;
    }
}

.lightTheme {
    .pMain {
        color: black !important;
    }

    .pSecondary {
        color: $sk-secondary-light !important;
    }

    .pDisabled {
        color: $sk-disabled-light !important;
    }
}

.fullWidth {
    width: 100% !important;
}

.textCentered {
    text-align: center;
}


:global([rk-chain-button]) {
    display: none !important;
}