.mp__chip {
    opacity: 0.9;
    // color: #3fb354 !important;

    height: 10px;
    margin-top: -12px;


    :global(.MuiChip-root) {
        height: 15px !important;
    }

    :global(.MuiChip-label) {
        font-size: 0.6525rem !important;
        font-weight: 600;
        letter-spacing: 0.1rem;
        // opacity: 0.8;
    }

    :global(.MuiChip-filledSuccess) {
        background-color: #3fb354 !important;
    }

    :global(svg) {
        width: 9pt;
        height: 9pt;
    }
}