

.token-icon {
    width: 21px;
    height: 21px;
    // opacity: 0.85;
    margin-left: 2px;
    margin-right: 2px;
}

.default-token-icon {
    color: black;
    background-color: #dbe106;
    padding: 4px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}