.mp__routeSmall {
  h4 {
    font-weight: 500 !important;
    text-transform: none !important;
    font-size: 0.8525rem !important;
    line-height: 1.6 !important;
    letter-spacing: 0.03857em !important;
    color: rgba(255, 255, 255, 0.65) !important;
  }
}