
.ima-widget-fullscreen-wrapper{
  // max-width: 400pt;
  display: flex;
  justify-content: center;
  align-items: center;   /* <---- NEW    */
  height: 90vh;
}

.ima-widget-fullscreen{
  min-width: 350pt;
}