@import '../../styles/variables';

.inputAmount {

    .tokenSymbol {
        font-weight: bold !important;
        font-size: 1.3rem !important;
    }

    .tokenSymbolPlaceholder {
        color: #979797;
    }


    :global .MuiInput-root::after {
        border-bottom: none !important;
    }

    :global .MuiInput-root::before {
        border-bottom: none !important;
    }

    :global(input) {
        border-radius: 4px 0 0 4px;
        padding: 9pt 15pt;
        font-weight: bold !important;
        font-size: 1.3rem !important;
    }

    :global(.MuiFormControl-root) {
        width: 100%;
        // border-radius: 4px;
    }

    background-color: transparent !important;
    border-radius: $sk-border-radius !important;


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }

    :global input[type=number] {
        -moz-appearance: textfield;
        /* Firefox */
    }
}